#chessViewStatus {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#chessViewOpponentTimeSpent {
    float: right;
}

#chessViewTimeSpent {
    float: right;
}

#chessViewBack {
    float: left;
}

#chessViewGame {
    position: relative;
    width: min-content;
}